<div class="row status-change">
  <div class="small-1 column text-right">
    <% if status_change.reply %>
      <i class="fa fa-level-up fa-2x fa-rotate-90"></i>
    <% end %>
  </div>
  <div class="small-11 columns pll pts prl">
    <span>
      <%= status_change.user %>
      <%= t(:changed_status_to).downcase.html_safe %>
      <strong class="status-change <%= status_change.status %>">
        <%= status_change.status %>
      </strong>
    </span>

    <span class="right" title="<%= l status_change.updated_at.in_time_zone(current_user.time_zone), format: :long %>">
      <i class="fa fa-clock-o"></i>
      <%= time_ago_in_words(status_change.updated_at.in_time_zone(current_user.time_zone)) %>
      <%= t(:ago) %>
    </span>
  </div>
</div>
