<%= form_for @client do |f| %>

<% if @client.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@client.errors.count, "error") %>
    prohibited this client from being saved:</h2>

  <ul>
    <% @client.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row mt mb">

  <div class="medium-9 columns">

    <%= f.text_field :name %>

    <%= f.text_area :address %>

    <%= f.text_field :phone_number %>

    <%= f.text_area :notes %>
  </div>

</div>
<div class="row">
  <div class="medium-12 columns bt">
    <%= f.submit t(:save), class: 'success button radius mtl' %>
    <%= link_to t(:cancel), (@client.new_record? ? clients_path : @client), class: 'button radius mtl' %>
    <%= link_to t(:delete), @client, class: 'alert button radius mtl', confirm: "Are you sure?" unless @client.new_record? %>
  </div>
</div>


<% end %>
