<div class="panel pam no-bt">
  <div class="row collapse">
    <div class="medium-12 columns">
      <div class="row collapse">
        <div class="medium-3 columns">
          <h3 class="filter-title no-m pts plm"><%= t(:clients) %> | <%= link_to t(:users), users_path %></h3>
        </div>
        <div class="medium-9 columns">
          <%= form_tag clients_search_path, method: :get, class: 'prm' do %>

            <div class="row collapse">

              <%= link_to new_client_path, class: 'radius tiny button right mlm no-m' do %>
                <i class="fa fa-plus" style="top:1px"></i>
              <% end %>

              <div class="small-2 columns right">
                <%= button_tag '<i class="fa fa-search"></i>'.html_safe, type: 'submit', class: 'secondary radius no-bl no-m button postfix' %>
              </div>
              <div class="small-5 columns right">
                <%= text_field_tag :q, params[:q], class: 'no-m radius-tl radius-bl' %>
              </div>

              <label class="ib mts mll mrl pull-right"><%= check_box_tag :search_name, 1, params[:search_name] == '1' %> <%= t(:name) %></label>
              <label class="ib mts mll pull-right"><%= check_box_tag :search_address, 1, params[:search_address] == '1' %> <%= t(:address) %></label>
              <label class="ib mts pull-right"><%= check_box_tag :search_phone_number, 1, params[:search_phone_number] == '1' %> <%= t(:phone_number) %></label>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="full">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:address) %></th>
      <th><%= t(:email_address) %></th>
      <th><%= t(:phone_number) %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td>
          <%= link_to client.name, client %>
        </td>
        <td>
          <%= client.address %>
        </td>
        <td>
          <%= client.email_address %>
        </td>
        <td>
          <%= client.phone_number %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-centered">
  <%#= will_paginate @clients %>
</div>
