<div class="row">
  <div class="small-6 columns">
    <h2>
      <%= @client.name %>
      <small>
        <%= link_to '<i class="fa fa-pencil fa-lg fa-fw"></i>'.html_safe, edit_client_path(@client) %>
      </small>
    </h2>

    <% if @client.phone_number %>
      <p>
        <i class="fa fa-phone fa-fw"></i>
        <%= number_to_phone @client.phone_number %>
      </p>
    <% end %>

    <% if @client.email_address %>
      <p>
        <i class="fa fa-at fa-fw"></i>
        <%= mail_to @client.email_address %>
      </p>
    <% end %>

    <% if @client.address %>
      <address>
        <%= simple_format @client.address %>
      </address>
    <% end %>

    <h3>Notes</h3>
    <p>
      <%= @client.notes %>
    </p>
  </div>
  <div class="small-6 columns">
    <h3>Tickets</h3>
    <% @client.tickets.each do |ticket| %>
      <div class="panel ticket <%= ticket.status %>">
        <h5><%= link_to ticket.subject, ticket %></h5>
        <%= truncate(ticket.content, length: 60, escape: false) %>
      </div>
    <% end %>
    <%= link_to t(:create_ticket) + '<i class="fa fa-plus fa-fw fa-3x" style="margin-left: 0.5rem;"></i>'.html_safe, new_ticket_path(client: @client), class: 'large button expand' %>
  </div>
</div>
